<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num">Call: (626)-968-1915</p>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-1">
                    <div id="fh5co-logo"><a href="/">ACI<span>.</span>HACIENDA</a></div>
                </div>
                <div class="col-xs-11 text-right menu-1">
                    <ul>
                        <li
                                <% if(pageName === 'index'){ %>
                                class="active"
                                <% } %>
                        ><a href="/">Home</a></li>
                        <li
                                <% if(pageName === 'courses'){ %>
                                class="active"
                                <% } %>
                        ><a href="/courses">Courses</a></li>
                        <li
                                <% if(pageName === 'tour'){ %>
                                class="active"
                                <% } %>
                        ><a href="/tour">Tour</a></li>

                        <li
                                <% if(pageName === 'contact'){ %>
                                class="active"
                                <% } %>
                        ><a href="/contact">Contact</a></li>
                        <li class="btn-cta"><a href="/login"><span>Login</span></a></li>
                        <li class="btn-cta"><a href="/signup"><span>Get Started</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>