<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<% include elements/head.ejs %>
<body>

<div id="fh5co-page">

    <% include elements/navigation.ejs %>


    <% include elements/courses/banner.ejs %>

    <% include elements/courses/searchbar.ejs %>


    <% include elements/footer.ejs%>
    <!-- END footer -->

</div>
<% include elements/javascripts.ejs %>

<% include elements/onlineChatting.ejs %>
<!--End of Tawk.to Script-->

</body>
</html>

