<!DOCTYPE HTML>
<html>
<% include elements/head.ejs %>
<body>


<div class="fh5co-loader"></div>

<div id="page">

    <% include elements/navigation.ejs %>

    <% include elements/index/banner.ejs %>

    <% include elements/index/counter.ejs %>

    <% include elements/index/generalIntro.ejs %>

    <% include elements/index/teachers.ejs %>

    <% include elements/index/steps.ejs %>

    <% include elements/index/courseDemo.ejs %>

    <% include elements/index/students.ejs %>

    <% include elements/index/extraFooter.ejs %>

    <% include elements/footer.ejs %>

</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<% include elements/javascripts.ejs %>

<% include elements/onlineChatting.ejs %>

<script src="javascripts/index_vc.js"></script>


</body>
</html>

