<!DOCTYPE HTML>
<html>
<% include elements/head.ejs %>


<link rel="stylesheet" href="stylesheets/login.css">
<body>


<div class="fh5co-loader"></div>

<div id="page">

    <% include elements/navigation.ejs %>

    <% include elements/login/banner.ejs %>

    <% include elements/login/form.ejs%>

    <% include elements/footer.ejs %>

</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<% include elements/javascripts.ejs %>

<% include elements/onlineChatting.ejs %>

<!--<script src="javascripts/index_vc.js"></script>-->


</body>
</html>

