<div id="fh5co-counter" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="28" data-speed="2000"
                          data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Colleges</span>
            </div>
            <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="57" data-speed="2000"
                          data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">High School</span>
            </div>
            <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="4023" data-speed="2000"
                          data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Student</span>
            </div>
        </div>
    </div>
</div>