<div id="fh5co-project" style="display: none;">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Our Star Courses</h2>
                <p>Incorporating creative lessons and ideas, remedy we designed our curriculum to help students prepare for the most current standards and tests.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid proj-bottom">
        <div class="row" id="course-broad-display-row">


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate-box">
                <p><a class="btn btn-primary btn-lg btn-learn" href="#">See More</a></p>
            </div>
        </div>
    </div>
</div>