<div id="fh5co-started" style="background-image:url(images/banner_index.png);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Lets Get Started</h2>
                <p>Our courses are not only the best but also the the most suitable one for you</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p><a href="/courses" class="btn btn-default btn-lg">See All Courses</a></p>
            </div>
        </div>
    </div>
</div>