<div id="fh5co-explore" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>WE ARE ACI</h2>
                <p>ACI IS THE GATEWAY TO YOUR DREAM COLLEGE!</p>
            </div>
        </div>
    </div>
    <div class="fh5co-explore fh5co-explore1" >
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 animate-box">
                    <img class="img-responsive" src="images/generalIntro/general_intro_01.png" alt="work">
                </div>
                <div class="col-md-4 col-md-pull-8 animate-box">
                    <div class="mt">
                        <h3>Our Curriculum</h3>
                        <p>Incorporating creative lessons and ideas, remedy we designed our curriculum to help students prepare for the most current standards and tests.</p>
                        <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" onclick="check_course_demo()"><i class="icon-arrow-bold-down"></i>See Our Courses</a>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="fh5co-explore" id="middle-general-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-pull-1 animate-box">
                    <img class="img-responsive" src="images/generalIntro/general_intro_02.png" alt="work">
                </div>
                <div class="col-md-4 animate-box">
                    <div class="mt">
                        <h3>Our Instructors </h3>
                        <p>Our highly-trained teachers have tons of class experience and provide a fun and nurturing learning environment.
                            We do believe that An accomplished disciple owes his accomplishment to his great teacher.
                        </p>
                        <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" onclick="check_instructor()"><i class="icon-arrow-bold-down"></i>See Our Instructors</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fh5co-explore fh5co-explore1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 animate-box">
                    <img class="img-responsive" src="images/generalIntro/general_intro_03.png" alt="work">
                </div>
                <div class="col-md-4 col-md-pull-8 animate-box">
                    <div class="mt">
                   <h3>Your Success</h3>
                        <p>Whether you’re trying to get straight A’s in school, a perfect SAT score, or into the college of your dreams, success is inevitable with us. Don’t believe us? <a href="#" onclick="check_testimonial()">Check out our testimonials!</a></p>
                        <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" onclick="check_testimonial()"><i class="icon-arrow-bold-down"></i>Hall of Fame</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>