<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Hall of Fame</h2>
                <p>Our prior students often come
                    back home to ACI to apply for summer internships to develop professionalism.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">
                        <% for(var i = 0 ;i < students.length; i++){ %>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="<%= students[i].image %>" alt="user">
                                </figure>
                                <span><%= students[i].name %> <a href="#"
                                                                 class="twitter"><%= students[i].description %></a></span>
                                <blockquote>
                                    <p><%= students[i].content %></p>
                                </blockquote>
                            </div>
                        </div>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>